---
// export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout
  ><main>
    <p>about</p>
  </main></Layout
>
<script>
  console.log("hello");
  //   fetch(
  //     "https://script.google.com/macros/s/AKfycbz2ilrGauIAJoWzpZ3IcBv6gEato1hUWcC5p-1OJctJZcmwSIiLvrA5n5c8QZ9E5Mb3/exec?t=list"
  //   )
  //     .then((r) => r.json())
  //     .then((data) => console.log(data));
</script>
