---
import Layout from "../../layouts/Layout.astro";
import Logo from "../../../public/musicak.png";
import "../../styles/global.css";

const f = await fetch(
  "https://script.google.com/macros/s/AKfycbz2ilrGauIAJoWzpZ3IcBv6gEato1hUWcC5p-1OJctJZcmwSIiLvrA5n5c8QZ9E5Mb3/exec?t=list&start=0&end=50",
  { cache: "reload" }
);
console.log(f);
const data = await f.json();
---

<Layout title="Radio Musicak" lang="en" dir="ltr" data={data}>
  {
    data.map((i: any) => {
      return <div>{i.title}</div>;
    })
  }

</Layout>
