---
import Layout from "../../layouts/Layout.astro";
import Logo from "../../../public/musicak.png";
import "../../styles/global.css";

const f = await fetch(
  "https://script.google.com/macros/s/AKfycbz2ilrGauIAJoWzpZ3IcBv6gEato1hUWcC5p-1OJctJZcmwSIiLvrA5n5c8QZ9E5Mb3/exec?t=list&start=0&end=50",
  { cache: "reload" }
);
const data = await f.json();
---

<Layout title="Radio Musicak" lang="en" dir="ltr">
  <section class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 w-full gap-2">
    <!-- <article class="col-span-full font-lalezar">خوش آمدید</article> -->
    {
      data.map((d: any) => {
        return (
          <a
            class="flex flex-col relative border-2 rounded overflow-hidden border-slate-300 dark:border-slate-600 hover:scale-105 transition-all duration-300"
            href={"album/" + d.link}
          >
            <h1 class="z-10 absolute p-1.5 text-sm bg-gray-300/85 rounded-br-sm text-gray-800 shadow">{d.titleE}</h1>
            <img
              transition:name={"album" + d.i}
              class="aspect-square size-full object-cover "
              id={d.picId}
              src={"pic/" + d.picId}
              alt={d.title}
              loading="lazy"
            />
          </a>
        );
      })
    }
  </section>
</Layout>
