---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const f = await fetch(
  "https://script.google.com/macros/s/AKfycbz2ilrGauIAJoWzpZ3IcBv6gEato1hUWcC5p-1OJctJZcmwSIiLvrA5n5c8QZ9E5Mb3/exec?t=list",
  { cache: "reload" }
);

const data = await f.json();
---

<Layout>
  <p>welcome</p>
  {data.map((d: any) => <p>{d.title}</p>)}
</Layout>
