---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import PlayerFrame from "../Item/PlayerFrame.astro";
import SongCard from "../Item/SongCard.astro";

const f = await fetch(
  "https://script.google.com/macros/s/AKfycbz2ilrGauIAJoWzpZ3IcBv6gEato1hUWcC5p-1OJctJZcmwSIiLvrA5n5c8QZ9E5Mb3/exec?t=list&start=0&end=50",
  {
    cache: "force-cache",
    next: { revalidate: 3600 * 24 * 7 },
  } as RequestInit
);
const data = await f.json();
---

<Layout title="رادیو موزیکک" lang="fa" data={data}>
  <section
    class="grid grid-cols-3 relative md:grid-cols-4 lg:grid-cols-6 w-full gap-0.5"
  >
    <div
      class="col-span-full h-40 md:h-auto flex flex-col items-center justify-center md:col-span-4"
    >
      <h1 class="text-xl text-center">
        بهترین لحظه‌های آلبوم‌ها و قطعات موسیقی
      </h1>
      <form
        action="search/"
        onsubmit="event.preventDefault(); window.location = this.action + document.getElementById('search').value;"
        class="flex flex-row border-2 border-gray-500 w-full my-2 mx-auto md:w-2/5 rounded-full py-1 px-3"
      >
        <input required
          id="search"
          class="w-full outline-0"
          placeholder="جستجو..."
          type="search"
        />
      </form>
    </div>
    <PlayerFrame cast={data[0]?.cast} />
    <SongCard data={data} />
  </section>
</Layout>
