---
import { SiCastbox, SiTelegram, SiSoundcloud } from "react-icons/si";
---

<footer class="flex p-5 gap-5 items-center justify-center text-3xl">
  <a href="https://t.me/radiomusicak" target="_blank">
    <SiTelegram />
  </a>
  <a href="https://on.soundcloud.com/z5GdIfDOQ6TWCdtRgF" target="_blank">
    <SiSoundcloud />
  </a>
  <a href="https://castbox.fm/channel/id4804438" target="_blank">
    <SiCastbox />
  </a>
</footer>
