---
import { SiCastbox, SiTelegram, SiSoundcloud } from "react-icons/si";
---

<footer class="">
  <div class="flex p-5 gap-5 items-center justify-center text-3xl">
    <a href="https://t.me/radiomusicak" target="_blank">
      <SiTelegram />
    </a>
    <a href="https://on.soundcloud.com/z5GdIfDOQ6TWCdtRgF" target="_blank">
      <SiSoundcloud />
    </a>
    <a href="https://castbox.fm/channel/id4804438" target="_blank">
      <SiCastbox />
    </a>
    
  </div>
  <div class="pb-2 text-sm text-center" dir="ltr">
      <span>
        © 2025
        <a
          class="italic underline underline-offset-2"
          href="https://ranjbar.me"
          target="_blank">ranjbar.me</a
        >
      </span>
    </div>
</footer>
