---
import Logo from "../../public/musicak.png";
const navItem = [
  { title: "موزیکک", path: "" },
  { title: "آرشیو", path: "archive" },
  { title: "هنرمندان", path: "artists" },
  { title: "درباره ما", path: "about" },
  { title: "ارتباط با ما", path: "contact" },
];
const { title, lang, dir } = Astro.props;
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="بهترین لحظه‌های آلبوم‌ها و قطعات موسیقی"
    />
    <link rel="icon" href="musicak.png" />
    <title>{title}</title>
    <meta property="og:type" content="music" />
    <meta property="og:title" content="Radio Musicak | رادیو موزیکک" />
    <meta
      property="og:description"
      content="بهترین لحظه‌های آلبوم‌ها و قطعات موسیقی"
    />
    <meta property="og:image" content="musicak.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Radio Musicak | رادیو موزیکک" />
    <meta
      name="twitter:description"
      content="بهترین لحظه‌های آلبوم‌ها و قطعات موسیقی"
    />
    <meta name="twitter:image" content="musicak.png" />
    <link rel="canonical" href="https://radiomusicak.com" />
    <meta property="og:url" content="https://radiomusicak.com" />
  </head>
  <body
    class="container font-vazir mx-auto px-2 md:px-0 bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-100"
  >
    <header>
      <nav id="navbar" class="flex py-4 px-2 items-center justify-between">
        <div class="flex items-center justify-between w-full">
          <img class="w-10 dark:invert" src={Logo.src} alt="Radio Musicak" />
        </div>
      </nav>
    </header>
    <main class="flex flex-col lg:flex-row">
      <slot />
    </main>
  </body>
</html>
