---
const { navItem, small = false } = Astro.props;
---

<nav
  class="w-auto ms-2 rounded-2xl grid grid-flow-col grid-rows-1 overflow-x-scroll md:overflow-auto gap-1"
>
  {
    navItem.map((i: any) => (
      <a
        class={`m-1 p-2 text-center ${small && "text-xs"} rounded-2xl shadow-sm bg-gray-300 dark:bg-gray-800 text-nowrap`}
        href={`/search/${i}`}
      >
        {i}
      </a>
    ))
  }
</nav>
